@media screen and (max-width:1000px){
    .info{
        overflow: scroll;
    }
    .leftbox{
        overflow: scroll;
    }
    .design{
       width: (50%-20px);
       margin-bottom: 20px;
    }

}