:root{
    --main-bg-color: #14a0a0;
}

*{
    padding: 0;
    margin: 0;
}
body{
    background: url(/IMG/web\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.container{
    
    height: 15vw;
    width: 61vw;
    margin-top: 6vw;
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    width: 34rem;
    position: initial;
    transition: all 0.3s ease;
    font-family: 'Lato', sans-serif;
    border-radius: 43px;
}

.card-title{
    font-size: x-large;
    font-weight: revert;
    color: #14a0a0;
    transition: color 0.3s ease;
}
.card-text{
    transition: color 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    background: var(--main-bg-color);
}
.card:hover .card-title{
    transform: scale(1.05);
    color: white;
}
.card:hover .card-text{
    transform: scale(1.05);
    color: white;
}
.daba{
    padding: 0.5vw;
    width: 8vw;
    border-radius:2px;
    border-style: none;
    background: var(--main-bg-color);
    color: white;
    text-decoration: none;
    padding: 0.7vw;
    border-radius: 3px;
}
.card:hover .daba{
    color: black;
    background-color: white;
    border-color: #14a0a0;
}
.down{
    height: 5vw;
    width: max-content;
}